@tailwind base;
@tailwind components;
@tailwind utilities;

.center-nav > ul {
    align-items: center;
}

body > #app > div {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

nav {
    @apply bg-blue-300 !important;
}